@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-image: url("../../img/login-bg.jpg");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 430px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.avatar {
    text-align: center;
    margin-top: 25px;
    border-radius: 50%;
}

.avatar img {
    height: 100px;
    width: 100px;
}

.form {
    margin: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    font-size: 1.1em;
}

.form-group label {
    font-weight: 700;
    opacity: .7;
}

.form-control {
    height: 45px;
    /* box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25); */
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #2F80ED;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    font-weight: 500;
}

.form-control:hover {
    border: 2px solid #2F80ED;
    background-color: #fff;
}

.form-control:focus {
    border: 2px solid #2F80ED;
    background-color: #fff;
}

.btn {
    height: 42px;
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    font-weight: 700;
    outline: none;
    border: 1px solid #2F80ED;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary {
    background-color: #2f81edde;
    color: #fff;
}

.btn-primary:hover {
    background-color: #2F80ED;
    border: 1px solid #fff;
}

.forgot-password {
    color: #EB5757;
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    font-size: .8em;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline 2px;
}

@media screen and (max-width: 416px) {
    .card {
        width: auto;
    }
}