<%- include('../partials/_header') %>

<%- include('../partials/_sidebar') %> 
<div class="main-content">
    <div class="stats">
        <div class="stat-1">
            <span class="stat-value">15</span>
            <p>Professeurs</p>
            <div class="stat-icon">
                <span class="material-icons">perm_identity</span>
            </div>
        </div>
        <div class="stat-2">
            <span class="stat-value">256</span>
            <p>Élèves</p>
            <div class="stat-icon">
                <span class="material-icons">account_box</span>
            </div>
        </div>
        <div class="stat-3">
            <span class="stat-value">16</span>
            <p>Classes</p>
            <div class="stat-icon">
                <span class="material-icons">home_work</span>
            </div>
        </div>
        <div class="stat-4">
            <span class="stat-value">4</span>
            <p>Niveaux</p>
            <div class="stat-icon">
                <span class="material-icons">class</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="card-1">
            <h3>Distribution des élèves par classes</h3>
            <canvas id="myChart1"></canvas>
        </div>
        <div class="card-2">
            <h3>Distribution des élèves par sexe</h3>
            <canvas id="myChart"></canvas>
        </div>
        <div class="card-3">
            <h3>Taux de réussite par classe/niveau</h3>
            <canvas id="myChart3"></canvas>
        </div>
        <div class="card-4">
            <h3>Taux d'inscrits par année</h3>
            <canvas id="myChart4"></canvas>
        </div>
        <div></div>
    </div>
</div>

<%- include('../partials/_footer') %> 
