<div class="sidebar">
    <div class="logo-content">
        <div class="logo">
            <i class='material-icons' >apartment</i>
            <div class="logo-name">SMSys</div>
        </div>
        <i class='material-icons' id='btn'>menu</i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="" placeholder="Search">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="/admin">
                <i class="material-icons">insights</i>
                <span class="link-name">Tableau de bord</span>
            </a>
            <span class="tooltip">Tableau de bord</span>
        </li>
        <li>
            <a href="/admin/users">
                <i class="material-icons">manage_accounts</i>
                <span class="link-name">Utilisateurs</span>
            </a>
            <span class="tooltip">Utilisateurs</span>
        </li>
        <li>
            <a href="/admin/teachers">
                <i class="material-icons">people</i>
                <span class="link-name">Enseignants</span>
            </a>
            <span class="tooltip">Enseignants</span>
        </li>
        <li>
            <a href="/admin/students">
                <i class="material-icons">account_box</i>
                <span class="link-name">Élèves</span>
            </a>
            <span class="tooltip">Élèves</span>
        </li>
        <li>
            <a href="">
                <i class="material-icons">home_work</i>
                <span class="link-name">Classes</span>
            </a>
            <span class="tooltip">Classes</span>
        </li>
        <li>
            <a href="">
                <i class="material-icons">note_add</i>
                <span class="link-name">Notes</span>
            </a>
            <span class="tooltip">Notes</span>
        </li>
        <li>
            <a href="">
                <i class="material-icons">today</i>
                <span class="link-name">Emplois du temps</span>
            </a>
            <span class="tooltip">Emplois du temps</span>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="/img/avatar.svg" alt="profile">
                <div class="name-job">
                    <div class="name">Abdoul Aziz BA</div>
                    <div class="job">Fullstack Dev</div>
                </div>
            </div>
            <form action="/auth/logout" method="POST">
                <button type="submit" title="Déconnexion"><i class="material-icons" id="logout">logout</i></button>
            </form>
        </div>
    </div>
</div>