<!-- INCLUDE HEADER -->
<%- include('./pages/home/partials/_header') %> 
<!-- /INCLUDE HEADER -->

<div class="container">
    <div class="warning-top">
        <p class="warning-text">
            IMPORTANT : PORTEZ VOTRE MASQUE POUR VOUS SAUVEZ ET SAUVEZ DES VIES !!!
        </p>
    </div>

    <div class="header">
        <div class="header-nav">
            <div class="header-nav-logo">
                <img src="img/logo.png" alt="LOGO">
            </div>
            <div class="header-nav-links">
                <a href="">Accueil</a>
                <a href="">Actualité</a>
                <a href="">Notre mission</a>
                <a href="">Contact</a>
            </div>
            <div class="header-nav-login">
                <a href="" class="login-btn">Se connecter</a>
            </div>
        </div>
        <div class="header-banner">
            <img src="img/banner.jpg" alt="BANNER">
        </div>
    </div>

    <main class="main">
        <h3>Mot de bienvenu !</h3>
        <p class="welcome">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac auctor augue mauris augue neque. Augue lacus viverra vitae congue eu. Fringilla ut morbi tincidunt augue. Pharetra vel turpis nunc eget lorem dolor. Faucibus turpis in eu mi. Vestibulum sed arcu non odio euismod. Volutpat commodo sed egestas egestas fringilla.
        </p>
        <div class="manager-word">
            <p>
                Ullamcorper morbi tincidunt ornare massa eget egestas purus. Sed lectus vestibulum mattis ullamcorper velit. Maecenas ultricies mi eget mauris pharetra. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim convallis aenean et tortor at. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Sed sed risus pretium quam vulputate. Faucibus nisl tincidunt eget nullam non nisi est sit amet. Nisl tincidunt eget nullam non nisi est.
            </p>
            <div>
                <img src="img/manager.jpg" alt="MANAGER">
            </div>
        </div>
        <div class="stats">
            <h3>Le collège en quelques chiffres :</h3>
            <div class="stats-values">
                <div class="stat-1">
                    <p class="value">4</p>
                    <p class="label">Niveaux</p>
                </div>
                <div class="stat-2">
                    <p class="value">16</p>
                    <p class="label">Classes</p>
                </div>
                <div class="stat-3">
                    <p class="value">480</p>
                    <p class="label">élèves</p>
                </div>
                <div class="stat-4">
                    <p class="value">95%</p>
                    <p class="label">Taux de réussite moyen</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-aside-block">
            <aside class="footer-aside">
                <h3>Horaires de l'accueil :</h3>
                <p>Du lundi au vendredi de 8h00 à 17h00.</p>
                <p>Samedi de 8h00 à 12h00.</p>
    
                <h3 class="p2">Horaires des cours :</h3>
                <p>Matin : 8h00 à 12h00</p>
                <p>Après-midi : 13h30 à 16h30</p>
            </aside>
            <aside class="footer-aside">
                <h3>Liens</h3>
                <ul>
                    <li><a href="">Actualités</a></li>
                    <li><a href="">Mission</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </aside>
            <aside class="footer-aside">
                <h3>Où nous trouver :</h3>
                <ul>
                    <li><a href="">Adresse 1</a></li>
                    <li><a href="">Adresse 2</a></li>
                    <li><a href="">Adresse 3</a></li>
                </ul>
            </aside>
        </div>
        <div class="copyright">
            <p>&copy; 2022 SchoolName BY <strong>AAB</strong> & <strong>FN</strong></p>
        </div>
    </footer>
</div>

<!-- INCLUDE HEADER -->
<%- include('./pages/home/partials/_footer') %> 
<!-- /INCLUDE HEADER -->