<!-- INCLUDE HEADER -->
<%- include('./pages/home/partials/_header') %> 
<!-- /INCLUDE HEADER -->

<h1>Hello Fatou</h1>

<!-- INCLUDE HEADER -->
<%- include('./pages/home/partials/_footer') %> 
<!-- /INCLUDE HEADER -->