@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark_blue: #3A405A;
    --bg_color: #ecf0f3;
}
table {
    table-layout: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
table td, table th {
    text-align: center;
    padding: 10px;
}
table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}
table thead th {
    color: #ffffff;
    background: var(--dark_blue);
}
table tr:nth-child(even) {
    background: #F8F8F8;
}
table tbody button {
    width: 40px;
    height: 40px;
}
.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.head h2 {
    color: #000000dc;
}
button {
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
}
.btn-warning {
    background: #fca311;
}
.btn-danger {
    background: #d90429;
}
.head button {
    background: var(--dark_blue);
    width: 100px;
    padding: 7px;
    display: flex;
    place-items: center;
}
.head button i {
    font-size: 24px;
}
