<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management System - Authentication</title>
    <link rel="stylesheet" href="/css/auth/styles.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="avatar">
                <img src="img/avatar.svg" alt="Avatar">
            </div>
            <div class="form">
                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" class="form-control" name="email" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Connexion">
                        <a href="" class="forgot-password">Mot de passe oublié ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>